body {
    background-color: black;
}

button {
    background-color: #00B5BE;
    border: #E7E9EA;
    border-radius: 25%;    
}

.delAll {
    border-radius: 10%;
}

.clear-task {
    border-radius: 10%;
}

button:hover {
    background-color: #009AA3;
}

.add-task {
    margin-bottom: 25px;
}

input[type=checkbox]:checked + label {
    text-decoration: line-through;
    text-decoration-color: red;
}

div {
    /* border: 2px solid; */
}

h1 {
    text-align: center;
    color: #3ADCE4;
    font-family: 'Pacifico';
}

ul {
    color: black;
    margin-left: 497px;
}


#add-task {
    display: flex;
    align-items: baseline;
    justify-content: center;
    
}

.add-task {
    margin-right: 12px;
   
}

label[for=task] {
    margin-right: 12px;
    color: #3ADCE4;
    font-family: 'Rancho';
    font-size: 26px;
}

label {
    color: #00B5BE;
    font-family: 'PT Sans'
}

#task-input {
    margin-right: 12px;
}

.housekeep {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#checkbox {
    margin-right: 22px;
}